article {
	p {
		font-family: "RobotoCondensed" !important;	
		color: $color-light-grey !important;
	}
	
	h2.article-title {
		
		font-size: 1.5em;
		text-transform: uppercase !important;
		margin-bottom: 2px !important;
		line-height: 1;
		font-weight: 200;
		a {
			color: $color-light-grey !important;
			&:hover {
				color: $color-yellow !important;
			}
		}
	}

	.post-date {
		display: inline-block;
		font-weight: 400 !important;
		font-size: 12px;
		letter-spacing: .5px;
		margin-bottom: 10px;
	}

	border-bottom: dashed 1px #e3e3e3;
	padding-bottom: 20px;
	margin-bottom: 20px;

	&:last-child {
		border-bottom: 0 !important;
	}
}		

a.read-more {
	float:left;
	display: block;
	line-height: 1;
	padding: 5px 10px;
	background: $color-yellow;
	color: #fff !important;

	&:hover {
		background: darken($color-yellow,8%);
		color:#fff !important;

	}
}