
.brand-info {
	margin-bottom: 40px;
	padding: 15px;
	border: solid 1px #e3e3e3;

	
	.box-info {
		margin-bottom: 10px;


	}

	h3 {
		// color: $color-yellow;
		text-decoration: underline;
		font-size: 16px;
		margin-bottom: 5px;
	}
	p {
		margin: 0;
		font-family: "Roboto Condensed", sans-serif !important;
    	font-size: 14px;
    	color: #A7A5A6 !important;

		font-weight: 300;
	}
}