.footer-top {
  color: #BFC7C6;
  padding: 50px 0;
  background: #232323 !important;
  border-top: solid $color-yellow 6px;

  h2 {
    font-size: 1.5em;
    color : $color-light-grey !important;
    margin-bottom: 10px;
  }

  img {
    width: 50px;
    height: 50px;
  } 
  
  a {
    display: inline-block;
    padding: 5px;
    background: $color-yellow;
    &:hover {
      background: darken($color-yellow,15%);
    }
  }
}

ul#support {
  margin: 0; 
  padding: 0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;


  li {
    padding: 10px;
    list-style: none;

    img {
      width: 150px;
      height: auto;
    }
  }
}

.footer-bottom {
  padding: 8px;
  background-color: $color-dark-grey;

  p { 
    font-family: "Arial", sans-serif !important;
    font-size: 12px !important;
    font-weight: 300px !important;
    margin:0;
    text-align: center;  
  }
}  
