footer {
  h2 {
    font-size: 1.8em;
    margin: 0 0 20px 0 !important;
    letter-spacing: 2px;
  }

  h3 {
    font-size: 1em;
    margin : 10px 0 0 0;
    letter-spacing: 1.5px;
  }

  p {
    margin : 0;
    letter-spacing: .7px;
    color : #fff;
  }
}

.uk-grid-divider {
  border-left: 1px solid #4DCE96 !important;
}


#support {
  h2 {
    color : $color-yellow !important;
  }
}
ul.list-support {
  margin: 0; 
  padding: 0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;

  li {
    padding: 10px;
    list-style: none;

    img {
      width: 100px;
      height: auto;
    }
  }
}

.footer-top {
  background:#2F2F2F !important;

  p {
    font-size: 14px !important; 
  }

  img {
    width: 40px;
    height: 40px;
  }

  .footer-left {
    padding: 50px;
    background: darken($color-yellow, 10%);
  } 
  
  .footer-right {
    padding: 50px;
    background: #2f2f2f;
  }

  ul.socmed {
    padding: 0 !important;  
    margin: 5px 0 0 0;
    li { 
      list-style: none;
      display: inline-block;
      margin : 0 2px;
    }
  }

  a { 
    @include transition-duration(.8s);
    border-radius: 50%;
    display: inline-block;
    background: #232323;
    &:hover {
      background: darken($color-yellow,15%);
    }
  }
}

.footer-bottom {
  color : #fff !important;
  padding: 15px;
  background-color: #232323;

  p { 
    font-family: "Arial", sans-serif !important;
    font-size: 12px !important;
    font-weight: 300px !important;
    margin:0;
    text-align: center;  
    color: $color-light-grey !important;
  }
}  
