.footer-top {
  color: #BFC7C6;
  padding: 50px 0;
  background: #232323 !important;
  border-top: solid $color-yellow 6px;

  h2 {
    // letter-spacing: 1.5px;
    font-size: 1.8em;
    color : $color-light-grey !important;
    margin: 0 0 10px 0 !important;

  }

  img {
    width: 70px;
    height: 70px;
  } 

  ul.socmed {
    padding: 0 !important;  
    margin: 0 0 20px 0;
    li { 
      list-style: none;
      display: inline-block;
      margin : 0 5px;
    }
  }

  .contact {
    background: $color-yellow;
    padding: 10px;
    display: inline-block;
    color: #fff;
    margin-bottom: 40px;
    letter-spacing: 1px;

  }
  
  a { 
    @include transition-duration(.8s);
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    background: $color-yellow;
    &:hover {
      background: darken($color-yellow,15%);
    }
  }
}

ul.support {
  margin: 0; 
  padding: 0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;

  li {
    padding: 10px;
    list-style: none;

    img {
      width: 150px;
      height: auto;
    }
  }
}

.footer-bottom {
  padding: 8px;
  background-color: $color-dark-grey;

  p { 
    font-family: "Arial", sans-serif !important;
    font-size: 12px !important;
    font-weight: 300px !important;
    margin:0;
    text-align: center;  
  }
}  
