#menuresv li {
	padding: 15px 0 !important;
}

.menu-l {
	float:left !important;
}

.menu-c {
	float: right !important;
}

.uk-navbar-toggle {
    min-height: 50px !important;
    float: right;
}

#nav-frame {
	background:#222222;
	box-shadow:#a6a6a6 0px 1px 3px 0px;
	border-bottom: solid $color-yellow 6px;
	position: fixed;
    z-index: 1;
    border-bottom: solid #ecc640 6px;
    width: 100%;
    top: 0px
}

.socmed-top {
	img {
		width: 40px !important;
		height: 40px !important;
	}
}

.uk-navbar-container {
	height: 60px !important;
}

.uk-navbar-nav {
	a {
		@include transition-duration(.5s);
		font-weight: 400 !important;
		min-height: 60px !important;
		letter-spacing: 1px;
		font-size: 18px !important;
		color:$color-yellow !important;

		&:hover {
			@include transition-duration(.5s);
			background:$color-yellow;
			color:#fff !important;
		}
	}
}

.uk-navbar-dropdown {
	margin-top: 0 !important;
	padding: 15px !important;
		
	a {
		min-height: 30px !important;
		// letter-spacing: 2px;
		font-size: 14px !important;
		color:$color-black !important;
		font-weight: 400;

		&:hover {
			background:none;
			color:$color-yellow !important;
		}
	}
}

