.frame {
	position: relative;

	img {
		@include transition-duration(.5s);	
		opacity: .8;
		width: 100% !important;
		height: auto !important;
	}
	span {
		text-align: center;
	    color: #fff;
	    @include transition-duration(.5s);
	    background-color: rgba(150, 28, 28, 0.6);
	    padding: 5px;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    box-sizing: border-box;
	    font-size: 14px;
	}
	
	width:100%;
	margin-bottom: 40px !important;

	&:hover {
		span {background-color: rgba(150, 28, 28, 0.9);}
		img {opacity: 1;}
	}

}