@media (max-width: 640px) {

  body {padding-top: 50px !important;}

  .uk-navbar-container { position: fixed;}

  .main-menu {display: none !important;}
  
  .menu-l, .menu-r, .menu-c {
    display: block !important;
    margin:0 !important;
  }

  .socmed-top img {
    height: 30px !important; width: 30px !important;
  }

  .footer-top {
    h2 {
      font-size: 14px;
    }

    img {
      width: 40px;
      height: 40px;
    } 
  }

  article {
    img {
      display: none;
    }
  }

  ul#support {
    li {
      padding: 10px;

      img {
        width: 100px;
        height: auto;
      }
    }
  }

}
