@media (max-width: 640px) {
  body {
    padding-top: 50px !important;
  }
  .uk-navbar-container {
    // height: 30px !important;
    position: fixed;
    // display: none !important;
  }

  .main-menu {
  	display: none !important;
  }
  .uk-navbar-nav a {  
    // min-height: 30px !important;
    // font-size: 14px !important;
  }
  .menu-l, .menu-r, .menu-c {
    display: block !important;
    // text-align: center;
    margin:0 !important;
  }

  .socmed-top img {
    height: 30px !important; width: 30px !important;
  }

  .footer-top {
    h2 {
      font-size: 14px;
    }

    img {
      width: 40px;
      height: 40px;
    } 
  }

  article {
    img {
      display: none;
    }
  }

}
