@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
// $color-yellow:#ECB840;
$color-yellow:#ecc640;
$color-black:#15171D;
$color-dark-grey:#202121;
$color-light-grey:#A7A5A6;